---
layout: default
lang: en
permalink: /en/
translate: /
---

<section class="section section-intro">
  <div class="container">
      <div class="inner">
      <h2 class="heading sr-only">What is Stagii pe Bune about?</h2>

      <p class="intro-sellingPoint">4 months of promoting intership opportunities and their companies</p>
      <p class="intro-sellingPoint indent">1 event in every university centre</p>

      <div class="media media-picture">
        <img src="/assets/prezentarea-fotonation-la-spb2018.jpg" alt="Prezentare FotoNation la SPB2018">
        <div class="caption">
          <p>over 600 participants at the event in Bucharest</p>
        </div>
      </div>    

      <p class="intro-sellingPoint">presentations, Q&As and the most impressive numbers:</p>
     
      <dl class="intro-stats">
        <dt>Students</dt>
        <dd>2400</dd>
        <dt>Companies</dt>
        <dd>97</dd>
        <dt>Cities</dt>
        <dd>9</dd>
      </dl>
    </div>    
  </div>
</section>


<section class="section section-companies">
  <!-- <div class="container"> -->

    <h2 class="heading sr-only">Participating companies</h2>

    <!-- {% include companies.html %} -->

  <!-- </div> -->
</section>

<section class="section section-newIn2019">
  <div class="container">

    <div class="flex flex-middle">
      <div class="column hidden-p hidden-tp">
        <div class="media media-picture">
          <img src="/assets/studenti-la-prezentare.jpg" alt="Studenți la prezentare">
        </div>
      </div>
      <div class="column">
        <h2 class="heading">What's new in 2019</h2>
        <ul class="list-bullet">
          <li>adding a dedicated presentation track for graduates looking for internships abroad</li>
          <li>doubling the capacity of the venue</li>
          <li>bringing improvements to our online platform</li>
        </ul>
      </div>
    </div>

  </div>
</section>


<section class="section section-forCompanies">
  <div class="container">

    <div class="flex flex-middle">
      <div class="column">
        <h2 class="h-uppercase">For companies</h2>
        <p class="large">Be it Bitdefender which has 900 employees in Romania, or Eau de Web which has 30, learn about our <a href="/en/partnership/#partnership">partnership opportunities</a></p>
        <nav class="toc-forcompanies">
          <ul>
            <li><a href="/en/partnership/#company-testimonials">Company testimonials</a></li>
            <li><a href="/en/partnership/#student-testimonials">Student testimonials</a></li>
            <li><a href="/en/partnership/#what-we-promote">What we promote</a></li>
          </ul>
        </nav>
      </div>
      <div class="column hidden-p hidden-tp">
        <div class="media media-picture">
          <img src="/assets/standul-microsoft-la-spb2018.jpg" alt="Standul Microsoft la SPB2018">
        </div>
      </div>
    </div>
    
  </div>
</section>



<section class="section section-lastYear">
  <div class="container">
    <div class="inner">
      <div class="overlay">
        <h2 class="h-uppercase" style="margin-bottom: 0">2018: Retrospective</h2>

        <a href="https://facebook.com/hashtag/prindevalul" target="_blank">
          <span class="sr">#prindevalul</span>
          {% include prindevalul.svg %}
        </a>

        <p>To summarize: Awesome!</p>
      </div>
      <div class="background">
        <video width="320" height="240" autoplay loop>
          <source src="/assets/spb2018_highlights540p-optimized.mp4" type="video/mp4">
        </video>
      </div>
    </div>    
  </div>
</section>


<section class="section section-testimonial">
  <div class="container">

    <div class="flex flex-middle">
      <div class="column">
        <h2 class="heading sr-only">What companies are saying</h2>
        <blockquote class="testimonial">
          <div class="testimonial-body">
            <p>If before we had trouble finding candidates that meet our standards, now we simply don’t have the capacity to keep all the people we wish to collaborate with.</p>
          </div>
          <footer>
            Cosmin Stan <br> Director of Product Management <wbr> at Xperi Corporation
          </footer>
        </blockquote>
      </div>
      <div class="column hidden-p hidden-tp">
        <div class="media">
          <img src="/assets/31-la-suta-din-candidati-fete.jpg" alt="31% din candidați sunt fete.">
        </div>
      </div>
    </div>

  </div>
</section>
