<div class="companies">
  <ul>
    <li>
      <img src="/assets/companies/logo-adobe.png" />
      <span class="sr">Adobe</span>
    </li>
    <li>
      <img src="/assets/companies/logo-amazon.png" />
      <span class="sr">Amazon</span>
    </li>
    <li>
      <img src="/assets/companies/logo-amiq.png" />
      <span class="sr">Amiq</span>
    </li>
    <li>
      <img src="/assets/companies/logo-bcr.png" />
      <span class="sr">BCR</span>
    </li>
    <li>
      <img src="/assets/companies/logo-bitdefender.png" />
      <span class="sr">Bitdefender</span>
    </li>
    <li>
      <img src="/assets/companies/logo-endava.png" />
      <span class="sr">Endava</span>
    </li>
    <li>
      <img src="/assets/companies/logo-fitbit.png" />
      <span class="sr">Fitbit</span>
    </li>
    <li>
      <img src="/assets/companies/logo-fotonation.png" />
      <span class="sr">FotoNation</span>
    </li>
    <li>
      <img src="/assets/companies/logo-ibm.png" />
      <span class="sr">IBM</span>
    </li>
    <li>
      <img src="/assets/companies/logo-ing.png" />
      <span class="sr">ING</span>
    </li>
    <li>
      <img src="/assets/companies/logo-ixia.png" />
      <span class="sr">IXIA</span>
    </li>
    <li>
      <img src="/assets/companies/logo-lenovo.png" />
      <span class="sr">Lenovo</span>
    </li>
    <li>
      <img src="/assets/companies/logo-microchip.png" />
      <span class="sr">Microchip</span>
    </li>
    <li>
      <img src="/assets/companies/logo-microsoft.png" />
      <span class="sr">Microsoft</span>
    </li>
    <li>
      <img src="/assets/companies/logo-nxp.png" />
      <span class="sr">NXP</span>
    </li>
    <li>
      <img src="/assets/companies/logo-orange.png" />
      <span class="sr">Orange</span>
    </li>
    <li>
      <img src="/assets/companies/logo-thales.png" />
      <span class="sr">Thales</span>
    </li>
    <li>
      <img src="/assets/companies/logo-ubisoft.png" />
      <span class="sr">Ubisoft</span>
    </li>
    <li>
      <img src="/assets/companies/logo-unicredit.png" />
      <span class="sr">Unicredit</span>
    </li>
    <li>
      <img src="/assets/companies/logo-vmware.png" />
      <span class="sr">vmware</span>
    </li>
  </ul>
</div>
