<div class="container">
  <div class="flex">
    <section class="section section-download">
      <div>
        <h2 class="heading">Download presentation</h2>
        <small class="hidden visible-p">PDF 1,4 MB</small>
        <a class="sr" href="assets/spb2019_brochureA5-en-v1.4-webOptimized.pdf">Presentation</a>
      </div>
    </section>

    <section class="section section-contact snap-p" id="contact">
      <div>
        <h2 class="heading h-uppercase">Contact</h2>
        <p>
          Vlad Posea, <br>
          Program manager
        </p>
        <a href="tel:+40752190062">+40 (752) 190 062</a> <br>
        <a href="mailto:vlad.posea@stagiipebune.ro">vlad.posea@stagiipebune.ro</a>
      </div>
    </section>
  </div>
</div>
