<footer class="footer">
  <div class="container">

    <div class="flex">
      <div class="column column-2">
        <div class="footer-about" id="despre">
          <h3 class="h-uppercase">Despre Stagii pe Bune</h3>
          <p>Ne dorim ca toți studenții din România să aibă oportunitatea de a face stagiul pe vară. În 13 ani de SPB am văzut cum stagiarii se transformă în colegi, iar din colegi în conducători.</p>
        </div>
      </div>

      <div class="column">
        <div class="footer-organizers">
          <h3 class="h-uppercase">Organizatori</h3>
          <ul class="list-organizers">
            <li>
              <a href="https://junio.ro" target="_blank" data-ga="/junio">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/logo-junio.png" alt="Logo Junio">
                <span class="sr">Junio</span>
              </a>
            </li>
            <li>
              <span>
                <img src="{{ site.url }}{{ site.baseurl }}/assets/logo-aspi.png" alt="Logo Asociația de Studenți și Profesioniști IT&C">
                <span class="sr">Asociația de Studenți și Profesioniști IT&C</span>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="column">
        <div class="footer-universities">
          <h3 class="h-uppercase">Universități partenere</h3>

          <ul class="list-universities">
            <li>
              <a href="http://www.uaic.ro/" target="_blank" data-ga="/uaic">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/logo-uaic.png" alt='Logo Universitatea "Alexandru Ioan Cuza" din Iași'>
                <span class="sr">Universitatea "Alexandru Ioan Cuza" din Iași</span>
              </a>
            </li>
            <li>
              <a href="http://www.unibuc.ro/" target="_blank" data-ga="/ub">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/logo-ub.png" alt="Logo Universitatea din București">
                <span class="sr">Universitatea din București</span>
              </a>
            </li>
            <li>
              <a href="http://www.upb.ro/" target="_blank" data-ga="/upb">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/logo-upb.png" alt="Logo Universitatea Politehnică București">
                <span class="sr">Universitatea Politehnică București</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    

    <nav class="footer-nav">
      <ul>
        <li><a href="{{ site.url }}{{ site.baseurl }}/pentru-companii/" class="cursor-back">Prima pagină</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/pentru-companii/parteneriat/">Pentru companii</a></li>
        <li><a href="https://drive.google.com/drive/folders/1_sdtPklIbHgg_NGo_Fo5cTBA0YrJntRi?usp=sharing" target="_blank" data-ga="/press">Press kit</a></li>
        <li><a href="https://www.facebook.com/stagiipebune/" target="_blank" data-ga="/facebook">Facebook</a></li>
        <li><a href="https://facebook.com/hashtag/prindevalul" target="_blank" data-ga="/prinde-valul">Cum a fost în 2018: #prindevalul</a></li>
      </ul>
    </nav>
  </div>
</footer>
