<footer class="footer">
  <div class="container">

    <div class="flex">
      <div class="column column-2">
        <div class="footer-about" id="about">
          <h3 class="h-uppercase">About <abbr title="Stagii pe Bune">SPB</abbr></h3>
          <p>We hope to bring our internship programme to every single university city in Romania, so every student has the chance to reach his max. In 13 years of SPB we've seen interns become colleagues, and colleagues become leaders.</p>
        </div>
      </div>

      <div class="column">
        <div class="footer-organizers">
          <h3 class="h-uppercase">Organizers</h3>
          <ul class="list-organizers">
            <li>
              <a href="https://junio.ro">
                <img src="/assets/logo-junio.png" alt="Logo Junio">
                <span class="sr">Junio</span>
              </a>
            </li>
            <li>
              <span>
                <img src="/assets/logo-aspi.png" alt="Logo Asociația de Studenți și Profesioniști IT&C">
                <span class="sr">Asociația de Studenți și Profesioniști IT&C</span>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="column">
        <div class="footer-universities">
          <h3 class="h-uppercase">Partnering universities</h3>

          <ul class="list-universities">
            <li>
              <a href="http://www.uaic.ro/" target="_blank">
                <img src="/assets/logo-uaic.png" alt='Logo "Alexandru Ioan Cuza" university in Iași'>
                <span class="sr">"Alexandru Ioan Cuza" university in Iași</span>
              </a>
            </li>
            <li>
              <a href="http://www.unibuc.ro/" target="_blank">
                <img src="/assets/logo-ub.png" alt="Logo University of Bucharest">
                <span class="sr">University of Bucharest</span>
              </a>
            </li>
            <li>
              <a href="http://www.upb.ro/" target="_blank">
                <img src="/assets/logo-upb.png" alt="Logo Politechnica University of Bucharest">
                <span class="sr">Politechnica University of Bucharest</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    

    <nav class="footer-nav">
      <ul>
        <li><a href="/en">Home page</a></li>
        <li><a href="/en/partnership/">For companies</a></li>
        <li><a href="" target="_blank">Press kit</a></li>
        <li><a href="https://www.facebook.com/stagiipebune/" target="_blank">Facebook</a></li>
        <li><a href="https://facebook.com/hashtag/prindevalul" target="_blank">How was 2018: #prindevalul</a></li>
      </ul>
    </nav>
  </div>
</footer>
