<footer class="footer">
  <div class="container">

    <div id="about">
      <h3>Despre</h3>
      <p>Ne dorim ca toți studenții din România să aibă oportunitatea de a face stagiul pe vară. În 13 ani de SPB am văzut cum stagiarii se transformă în colegi, iar din colegi în conducători.</p>
    </div>

    <div>
      <h3>Organizatori</h3>
      <a href="https://junio.ro">
        
      </a>
    </div>

    <div>
      <h3>Universități partenere</h3>
      <a href="https://junio.ro">

      </a>
    </div>
    

    <nav>
      <ul>
        <li><a href="/">Prima pagină</a></li>
        <li><a href="/parteneriat/">Oportunități de parteneriat</a></li>
        <li><a href="" target="_blank">Press kit</a></li>
        <li><a href="https://www.facebook.com/stagiipebune/" target="_blank">Facebook</a></li>
        <li><a href="https://facebook.com/hashtag/prindevalul" target="_blank">Cum a fost în 2018: #prindevalul</a></li>
      </ul>
    </nav>
  </div>
</footer>
