<header class="header">
  <div class="container">
    <div class="inner">

      <!-- title -->
      <div class="header-title">
        <h1 class="title"><a href="{{ site.url }}{{ site.baseurl }}/en/for-companies/">Stagii pe Bune</a></h1>
        <!-- or home to en -->
        <p class="subtitle">14th edition. February 2019</p>
      </div>

      
      <div class="navgroup navgroup-root">
        <!-- home -->
        <div class="hidden-p hidden-tp">
        {% if page.url == '/en/for-companies' or page.url == '/en/for-companies/' %}
          <span class="navlink navlink-root">Home page</span>
        {% else %}
          <a class="navlink navlink-root cursor-back" href="{{ site.url }}{{ site.baseurl }}/en/for-companies/">Home page</a>
        {% endif %}
        </div>

        <a class="navlink" href="{{ site.url }}{{ site.baseurl }}{{ page.translate }}" lang="ro">
          <span class="sr">Schimbă limba:</span>
          Română
        </a>
      </div>

      <div class="navgroup navgroup-menu">

        <nav class="hidden-p hidden-tp">
          <ul class="navlist">
            <li>
              <a class="navlink navlink-contact scrollTo" href="#contact" data-ga="/contact">Contact</a>
            </li>
            <li>
              <a class="navlink" href="{{ site.url }}{{ site.baseurl }}/en/for-companies/partnership/">Partnership opportunities</a>
            </li>
            <li>
              <a class="navlink scrollTo" href="#about" data-ga="/about">About Stagii pe Bune</a>
            </li>
            <li>
              <a class="navlink" href="https://drive.google.com/drive/folders/1_sdtPklIbHgg_NGo_Fo5cTBA0YrJntRi?usp=sharing" target="_blank" data-ga="/press">Press kit <sup>RO</sup></a>
            </li>
          </ul>
          <!-- contact -->
        </nav>

        <!-- mobile navmenu trigger -->
        <button class="navmenu-trigger" type="button" 
                onclick="toggleNavmenu()">
          <div class="default">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/icon-menu.svg">
            <span class="sr">Open menu</span>
          </div>
          <div class="close" hidden>
            <img src="{{ site.url }}{{ site.baseurl }}/assets/icon-close.svg">
            <span class="sr">Close menu</span>
          </div>
        </button>
      </div>

      <!-- mobile navmenu -->
      <div class="navmenu" id="navmenu-p">
        <div class="inner">

          <p class="navmenu-about">We hope to bring our internship programme to every single university city in Romania, so every student has the chance to reach his max. In 13 years of SPB we've seen interns become colleagues, and colleagues become leaders.</p>
          
          <nav>
            <button type="button" class="navmenu-btn" onclick="window.location='{{ site.url }}{{ site.baseurl }}/en/for-companies/partnership/'" style="background: transparent;">
              Partnership opportunities</br>
              <a href="{{ site.url }}{{ site.baseurl }}/en/for-companies/partnership/" onclick="return false" tabindex="-1">What it means to be a SPB partner?</a>
            </button>

            <a class="navmenu-btn" href="{{ site.url }}{{ site.baseurl }}/assets/spb2019_brochureA5-en-v1.4-webOptimized.pdf" data-ga="/download">
              Download presentation <br>
              <span class="sr">PDF</span> 1.4 MB
            </a>
            
            <button type="button" class="navmenu-btn" onclick="window.open('tel:+40752190062')" data-ga="/call">
              <span class="sr">Call</span>
              Vlad Posea, Program Manager
              <a class="bold" href="tel:+40752190062" onclick="return false" tabindex="-1">+40 (752) 190 062</a>
            </button>

            <a class="navmenu-btn" href="mailto:vlad.posea@stagiipebune.ro" data-ga="/email"><span class="sr">Email</span> vlad.posea@stagiipebune.ro</a>


            <div class="secondary-links">
              <a href="https://drive.google.com/drive/folders/1_sdtPklIbHgg_NGo_Fo5cTBA0YrJntRi?usp=sharing" target="_blank" data-ga="/press">Press kit</a>
              <a href="https://www.facebook.com/stagiipebune/" target="_blank" data-ga="/facebook">Facebook</a>
            </div>
          </nav>
        </div>
      </div>

      
    </div>
  </div>
</header>

