<div class="language-picker">
  <a href="{{ page.translate }}">English</a>
</div>

<button class="navmenu-trigger" type="button" onclick="toggleNavmenu()">
  <div class="default">
    <img src="/assets/icon-menu.svg">
    <span class="sr">Deschide meniu</span>
  </div>
  <div class="close" hidden>
    <img src="/assets/icon-close.svg">
    <span class="sr">Închide meniu</span>
  </div>
</button>


<header class="header">
  <div class="container">

    <div class="header-title">
      <h1 class="title"><a href="/">Stagii pe Bune</a></h1>
      <!-- or home to en -->
      <p class="subtitle">Ediția 14. Din Februarie 2019</p>
    </div>

    <nav style="display: none">
      <a href="/">Prima pagină</a>


      
      <!-- or to RO -->



      <a href="#contact">Contact</a>

      <a href="/">Press kit</a>
      <a href="/parteneriat/">Pentru companii</a>
      <a href="#about">Despre</a>
    </nav>
  </div>
</header>


<div class="navmenu">
  <div class="inner">

    <p>Ne dorim ca toți studenții din România să aibă oportunitatea de a face stagiul pe vară. În 13 ani de SPB am văzut cum stagiarii se transformă în colegi, iar din colegi în conducători.</p>
    
    <nav>
      <button type="button" class="navmenu-btn" onclick="window.location='/parteneriat/'" style="background: transparent;">
        Pentru companii.</br>
        <a href="/parteneriat/" onclick="return false" tabindex="-1">Ce înseamnă să participi la SPB?</a>
      </button>

      <a class="navmenu-btn" href="assets/spb2019_brochureA5-en-v1.4-webOptimized.pdf">
        Descarcă prezentarea <br>
        1,4 MB
      </a>
      
      <button type="button" class="navmenu-btn" onclick="window.open('tel:+40752190062')">
        Vlad Posea, Program Manager
        <a class="bold" href="tel:+40752190062" onclick="return false" tabindex="-1">+40 (752) 190 062</a>
      </button>

      <a class="navmenu-btn" href="mailto:vlad.posea@stagiipebune.ro">vlad.posea@stagiipebune.ro</a>


      <div class="secondary-links">
        <a href="">Press kit</a>
        <a href="https://www.facebook.com/stagiipebune/" target="_blank">Facebook</a>
      </div>
    </nav>
  </div>
</div>




<script>
  (function() {

    target = document.body;
    isOpen = false;

    window.toggleNavmenu = function() {
      isOpen = !isOpen;
      target.classList.toggle('navmenu-open');

      
      console.log(isOpen);
    };

  }())
</script>
