---
layout: default
lang: ro
permalink: /
translate: /en/
---

<section class="section section-intro">
  <div class="container">
    <div class="inner">
      <h2 class="heading sr-only">Ce înseamnă Stagii pe Bune</h2>

      <p class="sellingPoint large">4 luni de promovare a ofertelor de stagii și a companiilor</p>
      <p class="sellingPoint">1 eveniment în fiecare centru universitar</p>

      <div class="media media-photo media-minHeight">
        <img src="/assets/prezentarea-fotonation-la-spb2018.jpg" alt="Prezentare FotoNation la SPB2018">
        <div class="caption">
          <p>peste 600 de participanți la evenimentul din București</p>
        </div>
      </div>    

      <p class="sellingPoint">prezentări, Q&A și cele mai impresionante numere:</p>
     
      <dl class="intro-stats">
        <dt>Studenți</dt>
        <dd>2357</dd>
        <dt>Companii</dt>
        <dd>97</dd>
        <dt>Orașe</dt>
        <dd>9</dd>
      </dl>

      <div class="intro-cta">
        <p>Vrei să participi?</p>
        <div class="actions">
          <a class="btn btn-primary" href="/parteneriat/">
            Devino Partener pe Bune
          </a>
          <a class="btn btn-default" href="#contact" data-ga="/contact">
            Contact
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-companies">
  <div class="container">
    <h2 class="heading h-uppercase">Parteneri pe Bune</h2>
  </div>

  <div class="companies">
    <div class="sr">
      <ul>
        <li>Bitdefender</li>
        <li>Amazon</li>
        <li>Microsoft</li>
        <li>Adobe</li>
        <li>IBM</li>
        <li>Ubisoft</li>
      </ul>
      Listă trunchiată.
      <!-- <button type="button">Redă lista completă</button> -->
    </div>
  </div>

  <!-- {% include companies.html %} -->
</section>

<section class="section section-newIn2019">
  <div class="container">

    <div class="flex">
      <div class="column hidden-p hidden-tp">
        <div class="media media-photo media-minHeight">
          <img src="/assets/studenti-la-prezentare.jpg" alt="Studenți la prezentare">
        </div>
      </div>
      <div class="column">
        <h2 class="heading">Ce aducem nou în 2019</h2>
        <ul class="list-separated">
          <li><span class="li-inner">un track separat de prezentare pentru internship-uri în afară</span></li>
          <li><span class="li-inner">dublăm capacitatea locației pentru evenimentul din București</span></li>
          <li><span class="li-inner">îmbunătățiri platformei online</span></li>
        </ul>
      </div>
    </div>

  </div>
</section>

<section class="section section-forCompanies">
  <div class="container">

    <div class="flex flex-middle">
      <div class="column order-2">
        <div class="media media-photo media-minHeight">
          <img src="/assets/standul-microsoft-la-spb2018.jpg" alt="Standul Microsoft la SPB2018">
          <div class="caption">
            <p>standul Microsoft la Stagii pe Bune 2018</p>
          </div>
        </div>
      </div>
      <div class="column">
        <h2 class="h-uppercase">Pentru companii</h2>
        <p class="large-tp">De la Bitdefender care are 900 de angajați în România la Eau de Web care are 30. Află care sunt <a href="/parteneriat/#oportunitati-de-parteneriat" class="a-icon" data-ga="/brochure">oportunitățile de parteneriat</a></p>
        <nav class="toc-forcompanies">
          <ul>
            <li><a href="/parteneriat/#ce-spun-companiile" data-ga="/company-testimonials">Ce spun companiile</a></li>
            <li><a href="/parteneriat/#ce-spun-stagiarii" data-ga="/student-testimonials">Ce spun stagiarii</a></li>
            <li><a href="/parteneriat/#ce-promovam" data-ga="/what-we-promote">Ce promovează Stagii pe Bune</a></li>
          </ul>
        </nav>
      </div>
    </div>
    
  </div>
</section>

<section class="section section-lastYear">
  <div class="container">
    <div class="inner">
      <div class="overlay">
        <h2 class="h-uppercase" style="margin-bottom: 0">2018: Retrospectiva</h2>

        <a href="https://facebook.com/hashtag/prindevalul" target="_blank" data-ga="/prinde-valul">
          <span class="sr">#prindevalul</span>
          {% include prindevalul.svg %}
        </a>

        <p>Într-un cuvânt: Mișto!</p>
      </div>
      <div class="background">
        <video width="320" height="240" autoplay loop>
          <source src="/assets/spb2018_highlights540p-optimized.mp4" type="video/mp4">
        </video>
      </div>
    </div>    
  </div>
</section>


<section class="section section-testimonial">
  <div class="container">

    <div class="flex flex-middle">
      <div class="column">
        <h2 class="heading sr-only">Ce spun companiile</h2>
        <blockquote class="testimonial">
          <div class="testimonial-body">
            <p>Dacă în urmă cu câțiva ani nu găseam candidați pe măsura cerințelor noastre, am ajuns în extrema cealaltă: nu avem suficientă bandă pentru a continua colaborarea cu atâția.</p>
          </div>
          <footer>
            Cosmin Stan <br> Director de Product Management <wbr> la Xperi Corporation
          </footer>
        </blockquote>
      </div>
      <div class="column hidden-p hidden-tp">
        <div class="media media-photo media-minHeight">
          <img src="/assets/31-la-suta-din-candidati-fete.jpg" alt="31% din candidați sunt fete.">
        </div>
      </div>
    </div>

  </div>
</section>

