<!doctype html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Stagii pe Bune 2019. Din Februarie.</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  {% if page.lang == "ro" %}
    {% include header.html %}
  {% else %}
    {% include header-en.html %}
  {% endif %}

  {% include navmenu-script.html %}

  

  <main>
    {{ content }}

    {% if page.lang == "ro" %}
      {% include contact.html %}
    {% else %}
      {% include contact-en.html %}
    {% endif %}
  </main>

  {% if page.lang == "ro" %}
    {% include footer.html %}
  {% else %}
    {% include footer-en.html %}
  {% endif %}

  {% include google-analytics.html %}

</body>
</html>
