<!doctype html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% if page.lang == 'en' %}
    <title>Stagii pe Bune 2019. Coming this  Februarie.</title>
    <meta property="og:title" content="Stagii pe Bune 2019. Coming this Februarie." />

    <meta name="description" content="Best internship programme in Romania">
    <meta property="og:description" content="Best internship programme in Romania" />
  {% else %}
    <title>Stagii pe Bune 2019. Din Februarie.</title>
    <meta property="og:title" content="Stagii pe Bune 2019. Din Februarie." />

    <meta name="description" content="Cel mai bun program de stagii din România">
    <meta property="og:description" content="Cel mai bun program de stagii din România" />
  {% endif %}

  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}" /> <!-- absolute path -->
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/spb2019_social-facebook-ogimage.jpg" /> <!-- absolute path -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  {% if page.lang == "ro" %}
    {% include header.html %}
  {% else %}
    {% include header-en.html %}
  {% endif %}

  {% include navmenu-script.html %}

  <main>
    {{ content }}

    {% if page.lang == "ro" %}
      {% include contact.html %}
    {% else %}
      {% include contact-en.html %}
    {% endif %}
  </main>

  {% if page.lang == "ro" %}
    {% include footer.html %}
  {% else %}
    {% include footer-en.html %}
  {% endif %}

  {% include google-analytics.html %}

</body>
</html>
